html, body {
        font-family: -apple-system, BlinkMacSystemFont, SF Pro, Roboto, Segoe UI, Helvetica Neue, Helvetica, Arial, Liberation Sans, Source Han Sans K, Noto Sans CJK KR, Hiragino Sans, PingFang HK, Source Han Sans HC, Noto Sans CJK HK, Microsoft JhengHei, ui-sans-serif, sans-serif, Apple Color Emoji, Noto Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
        background-color: #efefef;
}
h1, h2, h3 {
        font-weight: 500;
}

.card {
        text-align: center;
        border-radius: 16px;
        background-color: white;
        position: relative;
        width: 40%;
        left: 30%;
        margin-top: 2%;
        margin-bottom: 2%;
}

.more-line-height {
        line-height: 1.5em;
}

.left-align {
        text-align: left;
        padding-left: 3em;
        padding-right: 3em;
}

a {
        text-decoration: none;
        color: black;
}

a.blue-link {
        color: #1F9BF3;
}

img.screenshot {
        width: 44%;
}

img.app-store-badge {
        width: 160px;
}

.rectangle {
        color: black;
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
        border: 1px solid black;
        border-radius: 5px;
}
.rectangle:hover {
        background-color: #1F9BF3;
        color: white;
        border: 1px solid #1F9BF3;
}

.footnote {
        font-size: 0.85em;
        color: #555555;
        padding-left: 1em;
        padding-right: 1em;
}

pre, code {
        font-family: SF Mono, ui-monospace, Consolas, Menlo, monospace, Apple Color Emoji, Noto Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

@media (max-width: 1078px) {
        .card {
                width: 60%;
                left: 20%;
        }
        img.screenshot {
                width: 60%;
        }
}
@media (max-width: 801px) {
        .card {
                width: 96%;
                left: 2%;
        }
        img.screenshot {
                width: 70%;
        }
}

@media(prefers-color-scheme: dark) {
        html, body {
                color: white;
                background: black;
        }
        .card {
                background-color: #1c1c1c;
        }
        .rectangle {
                color: white;
                background-color: black;
                border: 1px solid black;
        }
        .footnote {
                color: #cccccc;
        }
}
